@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Signika Negative', sans-serif; 
*/

.dropdown-selector{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    margin-left: 1rem;
    padding: .5rem;
}

.dropdown-selector label{
    font-family: 'Signika Negative', sans-serif; 
    font-weight: 600;
    display: block;
    margin-bottom: 4px;
}

.dropdown-selector select{
    width: 80%;
    padding: .8rem;
    border: 2px solid rgba(117, 89, 200);
    border-radius: 0.375rem;
    outline: 0;
    background-color: rgb(248, 250, 253);
}

.dropdown-selector select{
    padding-left: 2rem;
}

.main-cate span{
    color: rgba(150, 125, 225);
    position: absolute;
    padding: 8px;
}

.sub-cate span{
    color: rgba(150, 125, 225);
    position: absolute;
    padding: 8px;
}

.sub-sub-cate span{
    color: rgba(150, 125, 225);
    position: absolute;
    padding: 8px;
}

.prod-size span{
    color: rgba(150, 125, 225);
    position: absolute;
    padding: 8px;
}

