.payment-main-div{
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

.payment-selection{
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.net-banking-div,.cod-div{
    display: flex;
    gap: 2rem;
}