.signup-main-container {
  display: flex;
  flex-direction: row;
}

.signup-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.signup-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1rem;
  padding: 2rem;
}


.signup-left img {
  max-width: 100%;
  max-height: max-content;
}


.input {
  max-width: 30rem;
  min-height: 2.5rem;
  padding: 0.938rem;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  background: #e8e8e8;
  box-shadow: 5px 5px 5px #cac2c2;
  border: none;
  border-radius: 10px;
  transition: all .5s;
  width: 20rem;
}

.input:focus {
  background: #e8e8e8;
  box-shadow:
    -5px -5px 17px #ffffff;
}

.signup-right .signup-btn {
  height: 2.5rem;
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 0.625rem;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
}

.signup-right .signup-btn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-right .signup-btn .arrow {
  margin-top: 0.063rem;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.signup-right .signup-btn .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -0.188rem;
  right: 0.188rem;
  transition: 0.2s;
  padding: 0.188rem;
  transform: rotate(-45deg);
}

.signup-right .signup-btn:hover {
  background-color: var(--hover-color);
}

.signup-right .signup-btn:hover .arrow {
  background: var(--secondary-color);
}

.signup-right .signup-btn:hover .arrow::before {
  right: 0;
}


.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  cursor: pointer;
  padding: 0.75rem 1rem 0.75rem 2.625rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0.75rem 0.688rem;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 4px 10px rgba(0, 0, 0, .25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow:
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
}

.vortex-wrapper{
  height: 2.125rem;
}

@media (max-width: 768px) {
  .signup-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex !important;
  }

  .signup-left{
    width: 100%;
  }

  .signup-right{
    width: 100%;
  }
}




